body {
  overflow-x: hidden;
}
.container {
  max-width: 100%;
  overflow-x: hidden;
}

div nav.custom-navbar-text.bg-light.navbar-light#nav{
  background-color: rgba(220, 220, 220, 0.3) !important;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1%;
  text-align: left !important;
}

.custom-navbar-text a {
  color: rgb(34, 34, 34);
  display: block;
  font-family: "Raleway", serif;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.navbar {
  align-items: center;
  justify-content: flex-start;
}
.menu-title {
  margin-left: 30px;
  float: left;
}

.menu-item {
  margin-left: 30px;
  float: left;
}

* {
  box-sizing: border-box;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;

 &:nth-of-type(2n) {
   background-color: #FE4B74;
 }
}

.intro {
  height: 80vh;
  padding: 0;
}

.content {
  display: table-cell;
  vertical-align: inherit;
  background-image: url("BACKGROUND_PHOTO_OPTIONS/Banner Images/Banner_Main shutterstock_280358813.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-position: center 0;
  background-size: 100% auto;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity:  0.4;
}

.main-title-content, .main-title-banner {
  position: relative;
}


.row.no-gutters {
  text-align: center;
  padding-bottom: 45px;
}

@media (min-width: 560px){
  .container {
    max-width: 1440px;
  }
}


@media (min-width: 560px) {
  .main-title {
    color: rgb(34, 34, 34);
    display: block;
    font-family: "PT Serif", sans-serif;
    font-size: 68px;
    font-weight: bold;
    margin: 10px;
    padding: 5% 10% 2% 10%;
  }
}

.main-title-content {
  color: rgb(34, 34, 34);
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 30% 0 30%;
  /*margin: 0 10px 0 10px;*/
}

.button-center {
  padding-bottom: 45px;
}

.btn-primary.btn {
  /*margin-top: 15px;*/
}

.btn-primary.btn a {
  color: white;
}

.services {
  position: relative;
  padding-top: 85px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.services-title h2{
  color: rgb(34, 34, 34);
  font-family: "PT Serif", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 95px;
}

@media (min-width: 760px) {
  #list-tab {
    padding-left: 95px;
  }
}

@media (min-width: 760px) {
  .list-group li {
    color: rgb(34, 34, 34);
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
}

@media (min-width: 760px) {
  #nav-tabContent {
    border-style: solid;
    border-color: #d3d9df;
    border-radius: 4px;
    border-width: 1px;
    color: dimgray;
    font-family: "PT Serif", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin-right: 40px;
    margin-left: 20px;
  }
}

.testimonials {
  padding-top: 55px;
  padding-bottom: 35px;
  position: relative;
}

.testimonials-title h2 {
  color: rgb(34, 34, 34);
  font-family: "PT Serif", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2%;
}
/*******  BLURB STYLES  *******/
.row_blurb {
  display: flex;
  padding-bottom: 8%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 54%;
}
.b3_blurb_1 img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 285px;
  height: 260px;
}
.b3_blurb_1 {
  border: none !important;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  /*box-shadow: 0 20px 100px rgba(212, 215, 217,.5);*/
  /*-webkit-box-shadow: 0 20px 100px rgba(212, 215, 217,.5);*/
  /*-moz-box-shadow: 0 20px 100px rgba(212, 215, 217,.5);*/
  /*-o-box-shadow: 0 20px 100px rgba(212, 215, 217,.5);*/
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  background-color: white;
  margin-right: 30px;
  margin-left: 30px;
  width: 285px;
}
.b3_blurb_1 .blurb_text p{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #9b9b9b;
  letter-spacing: 0.3px;
  padding: 10% 10% 0 10%;

}
/*.b3_blurb_1 .name_block{*/
  /*padding-top: 8%;*/
/*}*/
.b3_blurb_1 h5{
  padding: 23px 8px 0 0;
  font-family: "PT Serif", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  }
.b3_blurb_1 h6{
  padding-bottom: 3%;
}
.b3_blurb_1 .name_block_position{
  font-family: Raleway, sans-serif;
  font-size: 13px;
  color: #616161;
}
/*.b3_blurb_1:hover {*/
  /*box-shadow: 0 40px 100px rgb(212, 215, 217);*/
  /*-webkit-box-shadow: 0 40px 100px rgb(212, 215, 217);*/
  /*-moz-box-shadow: 0 40px 100px rgb(212, 215, 217);*/
  /*-o-box-shadow: 0 40px 100px rgb(212, 215, 217);*/
/*}*/
.b3_blurb_1:hover img {
  -ms-transform: scale(1.00) !important;
  -webkit-transform: scale(1.00) !important;
  transform: scale(1.00) !important;
  -webkit-transition: all 1000ms cubic-bezier(0.170, 0.690, 0.470, 0.995);
  -moz-transition: all 1000ms cubic-bezier(0.170, 0.690, 0.470, 0.995);
  -o-transition: all 1000ms cubic-bezier(0.170, 0.690, 0.470, 0.995);
  transition: all 1000ms cubic-bezier(0.170, 0.690, 0.470, 0.995); /* custom */
}
.b3_blurb_1 .et_pb_main_blurb_image {
  margin-bottom: 20px;
  text-align: center;
}
/**** BLURB LINK ***/
.blurb_link {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.blurb_link:hover {
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}


.dark-background {
  content : "";
  display: block;
  position: absolute;
  background-image: url("BACKGROUND_PHOTO_OPTIONS/white-1866105_1920.jpg");
  width: 100%;
  height: 100%;
  opacity : 0.3;
  z-index: -1;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.footer-area  {
  margin-top: 5%;
}
@media (min-width: 760px) {
  .footer-container-columns {
    margin: 0 5% 0 5%;
    padding: auto;
  }
}

@media (min-width: 760px) {
  .footer-contact {
    color: rgb(34, 34, 34);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 30px;
  }
}

@media (min-width: 760px) {
  .footer-contact-info {
    color: grey;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 23px;
    padding-left: 50px;
    padding-right: 30px;
  }
}

@media (min-width: 760px) {
  .footer-container {
    position: relative;
    padding-top: 65px;
    padding-bottom: 50px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 760px) {
  .footer-container:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("BACKGROUND_PHOTO_OPTIONS/white-1866105_1920.jpg");
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    margin-top: 30px;
    padding-bottom: 20px;
  }
}

@media (min-width: 760px) {
  .footer-logo {
    display: inline-block;
    float: left;
    padding-left: 40%;
  }
}

.footer-logo-img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 760px) {
  .social-media-blog-icons {
    position: absolute;
    right: 5%;
    top: 75%;
    display: inline-flex;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
}

  .linkedin-button{
    padding: 3px 3px;
  }

.linkedin-button:hover {
  opacity: 0.6;
  /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);*/
}
  .blog-button {
    padding: 3px 3px;
  }

  .blog-button:hover {
    opacity: 0.6;
    /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);*/
  }
.portfolio-button {
  padding: 3px 3px;
}

.portfolio-button:hover {
  opacity: 0.6;
  /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);*/
}


.footer-button-to-top {
  position: relative;
  text-align: right;
  margin-right: 5px;
}

.back-to-top:hover {
  opacity: 0.6;
}
@media (min-width: 760px) {
  .button .fa-chevron-up {
    /*background: none;*/
    /*margin: 0;*/
    /*position: fixed;*/
    /*display: inline-block;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*z-index: 100;*/
    /*display: none;*/
    /*text-decoration: none;*/
    color: #ffffff;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
}




/*div.background {*/
/*background: url(klematis.jpg) repeat;*/
/*}*/

/*div.transbox {*/
/*margin: 30px;*/
/*background-color: #ffffff;*/
/*opacity: 0.6;*/
/*filter: alpha(opacity=60); !* For IE8 and earlier *!*/
/*}*/

/*div.transbox p {*/
/*margin: 2%;*/
/*font-weight: bold;*/
/*color: #000000;*/
/*}*/

/*h1 {*/
/*font-size: 3em;*/
/*display: block;*/
/*font-weight: 900;*/
/*color: black;*/
/*}*/

/*p {*/
/*font-size: 1.5em;*/
/*font-weight: 900;*/
/*color: #C3CAD9;*/
/*}*/

/*@media (min-width: 560px) {*/
/*.col .background-image {*/
/*background-color: #adb5bd;*/
/*color: black;*/
/*overflow: hidden;*/
/*position: relative;*/
/*width: auto;*/
/*display: block;*/
/*height: 600px;*/
/*float: none;*/
/*padding: 0;*/
/*z-index: 1;*/
/*}*/
/*}*/

/*@media (min-width: 560px) {*/
/*.inner-col-container {*/
/*margin: 15% 5%;*/
/*}*/
/*}*/

/*@media (min-width: 360px) {*/
/*.inner-col-container-img {*/
/*background-image: url("BACKGROUND_PHOTO_OPTIONS/white-1866105_1920.jpg");*/
/*background-repeat: no-repeat;*/
/*background-attachment: fixed;*/
/*background-position: center;*/
/*color: black;*/
/*overflow: hidden;*/
/*position: absolute;*/
/*width: 100%;*/
/*display: block;*/
/*height: 600px;*/
/*z-index: -1;*/
/*opacity: 0.3;*/
/*}*/
/*}*/


/*@media (min-width: 760px){*/
/*.card-deck {*/
/*max-width: 1438px;*/
/*padding-bottom: 45px;*/
/*margin: auto;*/
/*display: flex;*/
/*width: 80%;*/
/*}*/
/*}*/

/*.collapsible {*/
/*background-color: #777;*/
/*color: white;*/
/*cursor: pointer;*/
/*padding: 18px;*/
/*width: 100%;*/
/*border: none;*/
/*text-align: center;*/
/*outline: none;*/
/*font-size: 15px;*/
/*}*/

/*.active, .collapsible:hover {*/
/*}*/
